<form action="/songs" method="POST">

  <input type="text" name="name" value="<%= @song.name %>"><br>

    <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <% end %>

  <input type="submit" name="" value="Save Song">

  
</form>

<% if @song.id %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>